
* {
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
    list-style: none;
    text-decoration: none;
    color: black;
}

/* header design */
.border {
    display: block;
    background-color: lightseagreen;
    padding: 1rem;
    height: 1rem;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: lightseagreen;
    height: 7.5rem;
}

.menu {
    display: flex;
    gap: 1em;;
    font-weight: bold;
    font-size: 18px;
}

div .language {
    padding-right: 3rem;
}

@keyframes sacachispas {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        
    }
}

.boxy1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: gainsboro;
    height: 10rem;
    width: 6rem;
    margin-left: 1rem;
}

.boxy2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10rem;
    width: 6rem;
    margin-left: 1rem;
}

.boxy2:hover {
    cursor: pointer;
    background-color: gainsboro;
    animation-name: sacachispas;
    animation-duration: 0.8s;
}

/* index design */
.about {
    height: 40rem;
    width: 82rem;
}

.about-me {
    background-color: gainsboro;
    margin: 0 2rem;
    border: 1rem;
    padding: 5rem;
    padding-top: 2rem;
    padding-bottom: 8rem;
    padding-left: 2rem;
    box-shadow: 10px 15px 20px 0px rgba(0,0,0,0.7);
}

.about img {
    height: 270px;
    width: 200px;
    float: left;
    border-radius: 50px;
}
.about h1 {
    display: flex;
    font-size: 72px;
    justify-content: center;
}

.about h3 {
    display: flex;
    font-size: 36px;
    justify-content: center;
}

.info {
    background-color: gainsboro;
    margin: 0 2rem;
    border: 1rem;
    box-shadow: 10px 15px 20px 0px rgba(0,0,0,0.7);
}
.contact-info {
    float: left;
    height: 14rem;
}

.info-title {
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    font-size: 28px;
}

.info-list {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.about-box {
    padding: 1rem;
    height: 14rem;
}
.about-title {
    display: flex;
    font-size: 28px;
    justify-content: center;
}

.about-text {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

/* border-bottom-width: 10px;
border-bottom-style: ridge;
border-bottom-color: #27B9AD; */

/* education design */

.title-box {
    background-color: gainsboro;
    margin: 0 2rem;
    border: 1rem;
    padding: 3rem;
    display: flex;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}